<h1>Users#home</h1>
<p>Find me in app/views/users/home.html.erb</p>
<%= link_to "Créer un compte", '/users/new', class: "btn btn-lg btn-primary" %>
<br>
<%= link_to "Créer un événement", '/events/new', class: "btn btn-lg btn-primary" %>
