<h1>Bienvenue</h1>
<p>Vous pouvez dès à present, créer un événement ou bien participer à des événements existants ! </p>
<%= link_to "Créer un compte", '/users/new', class: "btn btn-lg btn-primary" %>
<br><br>
<%= link_to "Créer un événement", '/events/new', class: "btn btn-lg btn-primary" %>
